
body {
  background-color: yellow;
}

.container {
  background-color: grey;
  height: 80vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  border: 1px solid red;
}

.col-md-12 {
  border: 1px solid blue;

}

.title {
  border: 1px solid green;
  text-align: center;
}

.button-container {
  height: 100%;
  background-color: white;
}
.start-button {
  /* margin-top: 200px; */
}

/* increase the contents container's height when gif's added. or even buttons. In a small screen, this causes problem */
.game-contents {
  text-align: center;
  /* height: 100%; */
  border: 1px solid teal;
  display: none;
}
.row-contents {
  /* height: 100%; */
}

.timer {
  color: teal;
}

.result_gif {
  width: 400px;
  height: 200px;
}